/*Paleta de colores: #698694
                     #E09FA8
                     #B6D3E0
                     #E0DE9F
                     #949270
*/

body{
    background-color: #698694;
}

.navbar{
    background-color: #E0DE9F;
    height: 12vh;
    margin-top: 1vh;
    padding-bottom: 2rem;
}

h1{
    font-family: 'Righteous', cursive;
    font-size: 4rem;
    margin: 1% 35%;
    width: 40%;
    color: #949270;
}

.elefantito{
    height: 200%;
    position: relative;
    bottom: 9rem;
    left: 36rem;
}

main{
    display: flex;
    padding: 4% 9% 0;
}

section{
    margin: 0 10%;
    background-color: #E0DE9F;
    border-radius: 30px;
}

.textInput, .encriptedMsg{
    margin: 2rem;
    border: 1rem solid #E09FA8;
    border-radius: 30px;   
}

.textInput textarea, .encriptedMsg textarea{
    background-color: #E09FA8;
    vertical-align: bottom;
    font-family: 'Righteous', cursive;
    font-size: xx-large;
    color: antiquewhite;
}

.encriptedMsg textarea{
    background:  url("images/pngegg1.png") no-repeat, #E09FA8;
    background-size: 50%;
    background-position: center;
}

.buttons{
    text-align: center;
    margin-bottom: 1rem;
}

button{
    background-color: #B6D3E0;
    margin: 1rem;
    padding: 1rem 3rem;
    border: 2px solid #92b7c9;
    border-radius: 30px;
    font-family: 'Righteous', cursive;
    font-size: large;
    color: #949270;
}

button img{
    height: 5vh;
}

.social{
    display: inline-block;
    bottom: 50vh;
}

.social .linkedin{
    margin-left: 45vw;
}

.linkedin, .github{
    background-color: #E0DE9F;
    border: 1px solid #E0DE9F;
    border-radius: 50%;
    padding: 21px
}

footer{
    height: 1px;
}