/*Paleta de colores: #698694
                     #E09FA8
                     #B6D3E0
                     #E0DE9F
                     #949270
*/

body{
    background-color: #698694;
}

.navbar{
    background-color: #E0DE9F;
    height: 12vh;
    margin-top: 1vh;
    padding-bottom: 2rem;
}

a .logo_alura{
    display: inline-block;
    height: 6vh;
    position: relative;
    left: 6vw;
    top: 4.5vh;
}

h1{
    position: relative;
    bottom: 3vh;
    font-family: 'Righteous', cursive;
    font-size: 4rem;
    margin: 1% 40%;
    width: 40%;
    color: #949270;
}

.candado_logo{
    height: 200%;
    position: relative;
    bottom: 13rem;
    left: 37rem;
}

main{
    display: flex;
    padding: 4% 9% 0;
}

section{
    margin: 0 10%;
    background-color: #E0DE9F;
    border-radius: 30px;
}

.textInput, .encriptedMsg{
    margin: 2rem;
    border: 1rem solid #E09FA8;
    border-radius: 30px;   
}

.textInput textarea, .encriptedMsg textarea{
    background-color: #E09FA8;
    vertical-align: bottom;
    font-family: 'Righteous', cursive;
    font-size: xx-large;
    color: antiquewhite;
    border: none;
    outline: none;
}

.encriptedMsg textarea{
    background:  url("images/lock.png") no-repeat, #E09FA8;
    background-size: 100%;
    background-position: center;
}

.buttons{
    text-align: center;
    margin-bottom: 1rem;
}

button{
    background-color: #B6D3E0;
    margin: 1rem;
    padding: 1rem 3rem;
    border: 2px solid #92b7c9;
    border-radius: 30px;
    font-family: 'Righteous', cursive;
    font-size: large;
    color: #949270;
}

button img{
    height: 5vh;
}

.social{
    display: inline-block;
    position: absolute;
    top: 85vh;
}

.social .linkedin{
    margin-left: 28vw;
}

.linkedin{
    background-color: #E0DE9F;
    border: 1px solid #E0DE9F;
    border-radius: 50%;
    padding: 21px
}

.github{
    position: absolute;
    left: 33vw;
    background-color: #E0DE9F;
    border: 1px solid #E0DE9F;
    border-radius: 50%;
    padding: 21px
}

footer{
    height: 1px;
}

footer p{
    display: inline-block;
    top: 4vh;
    color: #E0DE9F;
    font-family:'Righteous', cursive;
    position: relative;
    left: 42vw;
}


@media (max-width: 768px) {
    main{
        padding: 7vh 0;
        display: block;
    }
    
    a .logo_alura {
        display: inline-block;
        height: 6vh;
        position: relative;
        left: 7vw;
        top: 4.5vh;
    }

    h1 {
        position: relative;
        bottom: -1vh;
        left: 48vw;
        font-family: 'Righteous', cursive;
        font-size: 2rem;
        margin: 0;
        width: 40%;
        color: #949270;
    }

    .candado_logo {
        height: 150%;
        position: relative;
        bottom: 7rem;
        left: 16rem;
    }

    .textInput textarea, .encriptedMsg textarea {
        background-color: #E09FA8;
        vertical-align: bottom;
        font-family: 'Righteous', cursive;
        font-size: 2.85rem;
        color: antiquewhite;
        border: none;
        outline: none;
    }   

    section{
        margin: 0 10%;
        padding-top: 1%;
        background-color: #E0DE9F;
        border-radius: 30px;
    }

    .encripted {
        position: absolute;
        top: 105vh;
        left: 4vw;   
    }

    footer p {
        padding-bottom: 5vh;
        display: inline-block;
        top: 79vh;
        color: #E0DE9F;
        font-family: 'Righteous';
        position: relative;
        left: 28vw;
    }

    .social {
        position: absolute;
        top: 169vh;
        left: 58vw;
    }

    .github {
        position: absolute;
        bottom: 1vh;
        left: 26vw;
    }
}

@media (max-width: 480px) {
    .navbar{
        background-color: #E0DE9F;
        width: 260vw;
        height: 12vh;
        margin-top: 1vh;
        padding-bottom: 2rem;
    }

    .logo_alura {
        display: inline-block;
        height: 6vh;
        position: relative;
        left: 12vw;
        top: 4.5vh;
    }

    h1 {
        position: relative;
        bottom: -3vh;
        left: 36vw;
        font-family: 'Righteous', cursive;
        font-size: 2rem;
        margin: 0;
        width: 40%;
        color: #949270;
    }

    .candado_logo {
        height: 150%;
        position: relative;
        bottom: 6rem;
        left: 8rem;
    }

    section{
        max-width: 100%;
    }

    .textInput textarea, .encriptedMsg textarea{
        background-color: #E09FA8;
        vertical-align: bottom;
        font-family: 'Righteous', cursive;
        font-size: 1.2rem;
        color: antiquewhite;
        border: none;
        outline: none;
    }

    .encripted{
        position: absolute;
        top: 118vh;       
    }

    footer p {
        display: inline-block;
        bottom: -85vh;
        color: #E0DE9F;
        font-family: 'Righteous', cursive;
        position: relative;
        left: 27vw;
    }

    .social{
        position: absolute;
        top: 150vh;
        left: 50vw;
    }

    .github{
        position: absolute;
        top: 15vh;
        left: 29.2vw;
    }
    

    
  }

  @media (max-width: 360px) {
    main{
        padding: 7vh 0;
    }
    
    a .logo_alura {
        display: inline-block;
        height: 6vh;
        position: relative;
        left: 7vw;
        top: 4.5vh;
    }

    h1 {
        position: relative;
        bottom: -1vh;
        left: 40vw;
        font-family: 'Righteous', cursive;
        font-size: 2rem;
        margin: 0;
        width: 40%;
        color: #949270;
    }

    .candado_logo {
        height: 150%;
        position: relative;
        bottom: 6rem;
        left: 4rem;
    }

    .textInput textarea, .encriptedMsg textarea {
        background-color: #E09FA8;
        vertical-align: bottom;
        font-family: 'Righteous', cursive;
        font-size: 1.01rem;
        color: antiquewhite;
        border: none;
        outline: none;
    }   

    .encripted {
        position: absolute;
        top: 113vh;
        left: 2.5vw;   
    }

    footer p {
        display: inline-block;
        bottom: -76vh;
        color: #E0DE9F;
        font-family: 'Righteous', cursive;
        position: relative;
        left: 9vw;
    }

    .social {
        position: absolute;
        top: 178vh;
        left: 18vw;
    }

    .github {
        position: absolute;
        top: 0vw;
        left: 3vw;
    }
}